.block {
    display: contents;
}

.part {
    display: contents;
}

.part :global([data-language="zh"]) {
    line-height: 1.5;
}

.part :global([data-language="zh"]) pre,
.part :global([data-language="zh"]) code {
    line-height: normal;
}

.cjk {
    font-family: var(--font-regular);
    letter-spacing: 2px;
}

.latin {
    font-family: var(--font-regular);
    letter-spacing: normal;
}

.pending {
    display: block;
    margin: 0.5rem 0;
    color: #ffcc00;
    font-size: 0.8em;
}

:global([data-display-mode="en"]) .part :global([data-language="zh"]),
:global(html[data-display-mode="en"]) .part :global([data-language="zh"]),
:global([data-display-mode="zh"]) .part :global([data-language="en"]),
:global(html[data-display-mode="zh"]) .part :global([data-language="en"]) {
    display: none;
}
