.block {
    display: contents;
}

.part {
    display: contents;
}

.part[data-language="zh"] {
    line-height: 1.5;
}

.part[data-language="zh"] pre,
.part[data-language="zh"] code {
    line-height: normal;
}

.cjk {
    font-family: var(--font-regular);
    letter-spacing: 2px;
}

.latin {
    font-family: var(--font-regular);
    letter-spacing: normal;
}

.pending {
    display: block;
    margin: 0.5rem 0;
    color: #ffcc00;
    font-size: 0.8em;
}

:global([data-display-mode="en"]) .part[data-language="zh"],
:global(html[data-display-mode="en"]) .part[data-language="zh"],
:global([data-display-mode="zh"]) .part[data-language="en"],
:global(html[data-display-mode="zh"]) .part[data-language="en"] {
    display: none;
}
