.figure {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 100%;
    margin: 1rem auto;
}

.image,
.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.85em;
    color: lightgray;
}
